/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// .rest{
//   background-color:rgba(0, 0, 0, 0.2);
// }

.landing{
  max-width: 100%;
   max-height: 100%;
   filter: brightness(27%);
}
#name{
  z-index: 100;
  position: absolute;
  color: rgba(29, 230, 181, 0.77);
  font-size: 74px;
  font-weight: bold;
  left: 370px;
  top: 430px;
font-family: 'Courgette', cursive;
}
/*About styling*/
#about{
  color: #000000 !important;
    line-height: 60px!important;
    font-size: 1em!important;
    letter-spacing: 4px;
    padding-top: 0px !important;
    text-align: center;
    // filter: brightness(40%);
}
ul {
    list-style-type: none;
}

// #skills{
//   .
// }

.top {
    width: 400px;
    height: 270px;
}
.ruby {
    width: 480px;
    height: 270px;
}

.flag {
    background-color: rgb(29, 66, 34);
}

.computer {
    background-color: #A3BBAD;
}

.gear {
    background-color: #65B891;
}

.rugby {
    background-color: #65B891;
}

.food {
    background-color: #65B891;
}

.demo-3 {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.demo-3 figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    margin-left: -50px;
}

.demo-3 figure img {
    display: block;
    position: relative;
    z-index: 10;
    margin: -15px 0;
}

.demo-3 figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.demo-3 figure h2 {
    font-family: 'Lato';
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.demo-3 figure p {
    display: block;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #fff;
    text-align: left;
}

.demo-3 figure figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 29px 44px;
    background-color: rgba(26,76,110,0.5);
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.demo-3 figure img {
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.demo-3 figure:hover img,
figure.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.demo-3 figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}
/*End of styling*/

/*project styling*/
.ch-grid {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

.ch-info {
    position: absolute;
    background: rgba(63, 147, 147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-item:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
/*End of project styling*/


/*FOOTER STYLING*/
.blink_me{
  color: rgba(29, 230, 181, 0.77);
  font-size:20px;
}

#footer {
    padding: 30px;
    // background-color: #067BC2;
    background-image: url('/assets/footer.jpeg');
    // max-width: 100%;
    //  max-height: 100%;
    background-size: cover;
    filter: brightness(27%);
    // background-color: black;
    color: white;
    text-align: center;
}

#footer li {
    list-style: none;
}

.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}


/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}


/* Icons */

.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .ion-social-twitter {
    color: #4099ff;
}

.icon-button .ion-social-facebook {
    color: #3B5998;
}

.icon-button .ion-social-googleplus {
    color: #db5a3c;
}

.icon-button:hover .ion-social-twitter, .icon-button:hover .ion-social-facebook, .icon-button:hover .ion-social-googleplus {
    color: white;
}

.footnote {
    // background-color: #067BC2;
    // padding: 1px;
    border-color: black;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0px;
}


/*END*/
