/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-top: 50px;
}

/********************navbar***********************************/
.navbar-default {
    background-color: #000000;
    border: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #1de6b5;
}
/********************End of navbar***********************************/
.landing-page {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/ranges.jpeg");
  padding: 270px;
  background-size: cover;
  text-align: center;
  color: rgba(29, 230, 181, 0.77);
  font-weight: bold;
  font-family: 'Courgette', cursive;
}
.landing-page h1{
  font-size: 100px !important;
}
/*About styling*/
#about {
    color: #000000 !important;
    line-height: 60px!important;
    font-size: 1em!important;
    letter-spacing: 4px;
    padding-top: 0 !important;
    text-align: center;
    font-size: 50px !important;
}
#about-me{
  text-align: center;
}

ul {
    list-style-type: none;
}

.top {
    width: 400px;
    height: 270px;
}

.ruby {
    width: 480px;
    height: 270px;
}

.flag, .computer, .gear, .rugby, .food {
    background-color: #1de6b5;
}

.about-cards {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.about-cards figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    margin-left: -50px;
}

.about-cards figure img {
    display: block;
    position: relative;
    z-index: 10;
    margin: -15px 0;
}

.about-cards figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-cards figure h2 {
    font-family: 'Lato';
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.about-cards figure p {
    display: block;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #fff;
    text-align: left;
}

.about-cards figure figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 29px 44px;
    background-color: rgba(26,76,110,0.5);
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.about-cards figure img {
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.about-cards figure:hover img,
figure.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.about-cards figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}
/*End of styling*/
#skills li{
  font-size: 40px;
}
/*FOOTER STYLING*/
.blink_me {
    color: rgba(29, 230, 181, 0.77) !important;
    font-size: 40px !important;
}

#footer {
    padding: 30px;
    // background-color: #067BC2;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/assets/footer.jpeg');
    background-attachment: fixed;
    background-size: cover;
    // filter: brightness(27%);
    color: white;
    text-align: center;
    z-index: 100;
}

#footer li {
    list-style: none;
}
/*social media icons styling*/
.fa {
    z-index: 100;
    margin: 10px;
    border-radius: 50%;
    color: white;
}

.fa-github:hover {
    opacity: 0.7;
    color: rgba(29, 230, 181, 0.77);
}

.fa-facebook:hover {
    opacity: 0.7;
    color: rgba(29, 230, 181, 0.77);
}

.fa-linkedin:hover {
    opacity: 0.7;
    color: rgba(29, 230, 181, 0.77);
}
/*End of social media styling*/
.footnote {
    // background-color: #067BC2;
    padding: 1px;
    border-color: black;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
}
/*END*/
