<div id="footer">
    <a href="#"> <i class="fa fa-github fa-3x"></i></a>
    <a href="#"> <i class="fa fa-linkedin fa-3x"></i></a>
    <a href="#"> <i class="fa fa-facebook fa-2x"></i></a>
    <h3>Contact Me:</h3>
    <h4>
        <span class="glyphicon glyphicon-envelope"></span>
        EMAIL: peterkahurani@gmail.com</h4>
    <h4>
        <span class="glyphicon glyphicon-earphone"></span>
        CALL: +254 706 555 585</h4>

</div>
<div class="footnote">
    <h5>
        &#169; Kahurani 2017</h5>
</div>
