<header class="main_h">

    <div>

        <a class="logo" href="#">Kahurani</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>

                <li>
                    <a href="#home" class="hover-effect">Home</a>
                </li>

                <li>
                    <a href="#about-me" class="hover-effect">About</a>
                </li>

                <li>
                    <a href="#skills" class="hover-effect">Skills</a>
                </li>
                <li>
                    <a href="#footer" class="hover-effect">Contact</a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- / row -->

</header>
